<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletConfigApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DbServlet</servlet-name>
    <servlet-class>com.pragim.servletconfig.controller.DbServlet</servlet-class>
    <init-param>
      <param-name>driverClassName</param-name>
      <param-value>oracle.jdbc.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>system</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>system</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbServlet</servlet-name>
    <url-pattern>/srvconfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.pragim.servletconfig.controller.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/ssrv</url-pattern>
  </servlet-mapping>
</web-app>